// ------------------------------------------------------------------
// Print
// ------------------------------------------------------------------

@page {
  margin: 0;
  size: @width @height;
}

.slide a {
  background: none !important;
}
